body {
  background: linear-gradient(to right, #536976, #292e49);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

#user-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

#check-btn,
#clear-btn {
  background-color: #3f72af;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#check-btn:hover,
#clear-btn:hover {
  background-color: #2c5282;
}

#results-div {
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Center the input field */
#user-input-container {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  #user-input,
  #check-btn,
  #clear-btn {
    padding: 12px 20px;
    font-size: 1.2rem;
  }
}

#results-div {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
